* {
    box-sizing: border-box;
  }
  /*@media only screen and (min-width: 450px) {*/
  body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    height: 100vh;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    letter-spacing: 1px;
    position: relative;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    flex-wrap: wrap;
  }

  .logo {
    margin-top: 40px;
    width: 100%;
    text-align: center;
    color: #D8B278;
    text-decoration: none;
  }

  .logo i {
    font-size: 2rem;
  }

  header {
      display: flex;
      justify-content: flex-end;
  }
  
  header nav {
    width: 100%;
    display: none;
  }
  
  .hamburg-btn, .cross-btn {
    cursor: pointer;
    font-size: 2rem;
  }
  header nav ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  header nav ul li {
    list-style: none;
    padding: 1rem 0.5rem;
  }
  header nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
    font-size: 1.5rem;
  }

  #check-out {
      width: 80%;
  }

  #check-out img {
      width: 100%;
  }

  #form {
      width: 80%;
      padding-top: 2rem;
  }

  #form p {
      width: 100%;
  }

  form{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
  }

  #form input {
      width: 45%;
      margin: 0.5rem 0;
      height: 2rem;
      font-family: 'Montserrat', sans-serif;
      border: none;
      border: 1px solid #ccc;
  }

  #card-info {
      margin-top: 2rem;
  }

  #form button {
      width: 40%;
      height: 3rem;
      border: none;
      font-family: 'Montserrat', sans-serif;
      background-color: #D8B278;
      color: white;
      font-size: 1.2rem;
      font-weight: 700;
      text-transform: uppercase;
  }
  

  footer {
    height: 80px;
  }
  footer span {
    display: block;
    padding: 2rem 0 0 0;
  }