body {
  background-image: none;
  background-color: #f7f7f7;
  color: #333;
}

.logo {
  color: #d8b278;
}

header {
  justify-content: flex-end;
}

header nav ul li a {
  color: #333;
}

#check-out {
  width: 80%;
  margin-top: 2rem;
}

#check-out img {
  width: 100%;
}

.shopping-container {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
  border-bottom: 1px solid #ccc;
}

.img-container {
  width: 60%;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 10px;
  width: 40%;
  text-transform: uppercase;
}

.input-div {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.input-div button {
  background-color: inherit;
  border: none;
  font-size: large;
  color: grey;
}

.removeButton {
  background-color: #d8b278;
  color: white;
  border: none;
  font-family: "Montserrat";
  font-size: small;
  font-weight: 500;
  padding: 10px;
  letter-spacing: 1px;
  width: 50%;
}

#totalPrice {
  font-size: x-large;
  padding: 10px 0;
  display: block;
}

#cart-button {
  background-color: #333;
  margin-right: 10px;
  color: white;
  border: none;
  font-family: "Montserrat";
  font-size: large;
  padding: 5px 30px;
  letter-spacing: 2px;
  float: right;
}

.varukorg img {
  width: 100%;
}

#form {
  width: 80%;
  padding-top: 2rem;
}

#form p {
  width: 100%;
  padding-top: 2rem;
}

form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

#form input {
  width: 45%;
  margin: 0.5rem 0;
  height: 2rem;
  font-family: "Montserrat", sans-serif;
  border: none;
  border: 1px solid #ccc;
}

#card-info {
  margin-top: 2rem;
}

#form button {
  width: 40%;
  height: 3rem;
  border: none;
  font-family: "Montserrat", sans-serif;
  background-color: #d8b278;
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
}

#check-out h2 {
  font-size: 10rem;
  color: #00b894;
}

.confirm-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.thank-you,
.confirmation {
  padding: 2rem 0;
}

.confirm-container button {
  background-color: #d8b278;
  border: none;
  width: 8rem;
  height: 2rem;
  font-family: "Montserrat", sans-serif;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
}

@media screen and (min-width: 800px) {
  #check-out {
    width: 50%;
  }

  #form {
    width: 60%;
  }

  button:hover {
    background-color: #ccc;
  }
}
