* {
  box-sizing: border-box;
}
/*@media only screen and (min-width: 450px) {*/
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  letter-spacing: 1px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  flex-wrap: wrap;
}
.logo {
  margin-top: 40px;
  width: 100%;
  text-align: center;
}
.logo i {
  font-size: 2rem;
}

.shopping-btn i {
  margin-right: 10px;
}
header nav {
  width: 100%;
  display: none;
}

.hamburg-btn, .cross-btn {
  cursor: pointer;
  font-size: 2rem;
}
header nav ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
header nav ul li {
  list-style: none;
  padding: 1rem 0.5rem;
}
header nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 1.5rem;
}
.tom {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.main {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20%;
}
.main p {
  padding: 0.5rem;
}
#product-btn {
  background-color: #d8b278;
  width: 90%;
  padding: 1rem 0;
  border: none;
  margin-bottom: 1rem;
  text-transform: uppercase;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 700;
}
footer {
  height: 80px;
}
footer span {
  display: block;
  padding: 2rem 0 0 0;
}
/*}*/
