* {
  box-sizing: border-box;
}
/*@media only screen and (min-width: 450px) {*/
body {
  margin: 0;
  padding: 0;
  background-image: url("../img/pexels-godisable-jacob-1191531.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 0 2rem;
}
.logo {
  margin-top: 40px;
  width: 100%;
  text-align: center;
}
.logo i {
  font-size: large;
}

header nav ul {
  display: flex;
  flex-direction: column;
}
header nav ul li {
  list-style: none;
}
header nav ul li a {
  text-decoration: none;
}

/*}*/
