* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*@media only screen and (min-width: 450px) {*/
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
  height: 100vh;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  letter-spacing: 1px;
  position: relative;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  flex-wrap: wrap;
}

.logo {
  margin-top: 40px;
  width: 100%;
  text-align: center;
  color: #D8B278;
  text-decoration: none;
}

.logo i {
  font-size: 2rem;
  padding-bottom: 20px;
}

.shopping-btn i {
  margin-right: 10px;
}
header nav {
  width: 100%;
  display: none;
}

.hamburg-btn, .cross-btn {
  cursor: pointer;
  font-size: 2rem;
}
header nav ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
header nav ul li {
  list-style: none;
  padding: 1rem 0.5rem;
}
header nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
  font-size: 1.5rem;
}

.varukorg {
display: flex;
flex-direction: column;
background-color: rgba(255,255,255,0.9);
border: 1px solid #ccc;
width: 300px;
position: absolute;
top: 11rem;
left: 3rem;
display: none;
padding: 10px;
}

.shopping-container {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
}

.img-container {
  width: 60%;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 10px;
  width: 40%;
  text-transform: uppercase;
}

.input-div {
  display: flex;
  justify-content: space-between;
}

.input-div button {
background-color: inherit;
border: none;
font-size: large;
color: grey;
}

.removeButton {
background-color: #D8B278;
color: white;
border: none;
font-family: 'Montserrat';
font-size: small;
font-weight: 500;
padding: 10px;
letter-spacing: 1px;
}

#totalPrice {
  font-size: x-large;
  padding: 10px 0;
  display: block;
}

#cart-button {
background-color: #333;
margin-right: 10px ;
color: white;
border: none;
font-family: 'Montserrat';
font-size: large;
padding: 5px 30px;
letter-spacing: 2px;
float: right;
}

.varukorg img {
  width: 100%;
}

#products {
    width: 90%;
}

.card {
    padding: 1rem 0;
}

.card img {
    width: 100%;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.card button {
    background-color: #333;
    color: white;
    font-family: 'Montserrat', sans-serif;
    height: 3rem;
    width: 8rem;
    border: none;
    box-shadow: none;
    margin-bottom: 1rem;
}

.card h3 {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 400;
}

footer {
  height: 50px;
  display: flex;
}

footer i {
  padding: 10px;
  font-size: x-large;
  cursor: pointer;
}
@media screen and (min-width: 800px) {
 #products {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
 }

 .card {
  width: 30%;
 }

 .flex-container {
  align-items: flex-start;
  margin-top: 20px;
 }
}